{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Gustavo Chávez Sánchez</title>
    <link rel="stylesheet" href="{% static 'mi_app/css/contacto.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{% static 'mi_app/images/utc.png' %}" alt="Logo de la Universidad" class="logo">
            <h1>contacto</h1>
        </div>
    </header>

    <nav class="navbar">
        <div class="container">
            <ul>
                <li><a href="{% url 'inicio' %}">Home</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'musica' %}">Música</a></li>
                <li><a href="{% url 'escuela' %}">Escuela</a></li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container">
            <section id="Datos-generales">
                <h2>Hola, soy Gustavo Chávez Sánchez</h2>
                <img src="{% static 'mi_app/images/Foto_mia.png' %}" alt="Foto de Gustavo" class="foto">
            </section>

            <section id="informacion-personal">
                <h2>Información Personal</h2>
                <p>Nombre: Gustavo Chávez Sánchez</p>
                <p>Edad: 22 años</p>
                <p>Altura: 1.67 m</p>
                <p>Teléfono: 5548633916</p>
                <p>Email: guschr@live.com</p>
            </section>
            
        </div>
        <main>

            <section id="contacto">
                <h2>Contacto</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Mi Página Web. Todo lo que debes saber de mí.</p>
        </div>
    </footer>
</body>
</html>
